body
{
  margin: 0;
  text-align: center;
  background-color: #FAFAFA;
  font-family: Amatic SC;
  font-size: 1.4em;
  line-height: 50px;
}
#back
{
  border:1px solid #004a7f;
  background-color: #004a7f;
}
#logo
{
height: 100px;
text-align: left;
margin-top: 20px;
margin-left: auto;
}

#circleIco
{
  font-size: 140px;
  margin-top: 30px;
}
#circleButton
{
  margin:auto;
  margin-top: 180px;
  border: solid 5px #283593;
  color: #283593;
  width: 200px;
  height: 200px;
  border-radius: 180px;
}
#circleButton1
{
  margin: auto;
  margin-right:580px;
  margin-top: -210px;
  border: solid 5px #283593;
  color: #283593;
  width: 200px;
  height: 200px;
  border-radius: 180px;
}

#circleButton2
{
  margin:auto;
  margin-left: 580px;
  margin-top: -210px;
  border: solid 5px #283593;
  color: #283593;
  width: 200px;
  height: 200px;
  border-radius: 180px;
}


#circleButton:hover
{
  background-color: #ececec;
  border-color: #232f84;
  color:#232f84;
}
#circleButton1:hover
{
  background-color: #ececec;
  border-color: #232f84;
  color:#232f84;
}
#circleButton2:hover
{
  background-color: #ececec;
  border-color: #232f84;
  color:#232f84;
}
