body
{
  margin: 0;
  text-align: center;
  background-color: #FAFAFA;
  font-family: Amatic SC;
  font-size: 1.4em;
  line-height: 50px;
}
#back
{
  margin: auto;
  width: auto;
  border:1px solid #004a7f;
  background-color: #004a7f;
}
#logo
{
height: 100px;
text-align: left;
margin-top: 20px;
margin-left: auto;
}
#ccenter
{
  color:#283593;
  margin: auto;
  margin-top: 150px;
  width: 45em;

}
.button
{
  border: 6px solid #283593;
  width: 250px;
  height: 250px;
  border-radius: 180px;
  display: inline-block;

}
#left
{
  float:left;
}
#right
{
  float: right;
}
#icon
{
  margin-top: 20px;
  font-size: 200px;
}
.button:hover
{
  color:#1A237E;
  border-color: #1A237E;
}
